/*ELEMENTOS*/
/*LINHA 1*/
#H{
    grid-column: 2;
    grid-row: 4;
}

#He{
    grid-column: 19;
    grid-row: 4;
}



/*LINHA 2*/
#Li{
    grid-column: 2;
    grid-row: 5;
}

#Be{
    grid-column: 3;
    grid-row: 5;
}

#B{
    grid-column: 14;
    grid-row: 5;
}

#C{
    grid-column: 15;
    grid-row: 5;
}

#N{
    grid-column: 16;
    grid-row: 5;
}

#O{
    grid-column: 17;
    grid-row: 5;
}

#F{
    grid-column: 18;
    grid-row: 5;
}

#Ne{
    grid-column: 19;
    grid-row: 5;
}



/*LINHA 3*/
#Na{
    grid-column: 2;
    grid-row: 6;
}

#Mg{
    grid-column: 3;
    grid-row: 6;
}

#Al{
    grid-column: 14;
    grid-row: 6;
}

#Si{
    grid-column: 15;
    grid-row: 6;
}

#P{
    grid-column: 16;
    grid-row: 6;
}

#S{
    grid-column: 17;
    grid-row: 6;
}

#Cl{
    grid-column: 18;
    grid-row: 6;
}

#Ar{
    grid-column: 19;
    grid-row: 6;
}



/*LINHA 4*/
#K{
    grid-column: 2;
    grid-row: 7;
}

#Ca{
    grid-column: 3;
    grid-row: 7;
}

#Sc{
    grid-column: 4;
    grid-row: 7;
}

#Ti{
    grid-column: 5;
    grid-row: 7;
}

#V{
    grid-column: 6;
    grid-row: 7;
}

#Cr{
    grid-column: 7;
    grid-row: 7;
}

#Mn{
    grid-column: 8;
    grid-row: 7;
}

#Fe{
    grid-column: 9;
    grid-row: 7;
}

#Co{
    grid-column: 10;
    grid-row: 7;
}

#Ni{
    grid-column: 11;
    grid-row: 7;
}

#Cu{
    grid-column: 12;
    grid-row: 7;
}

#Zn{
    grid-column: 13;
    grid-row: 7;
}

#Ga{
    grid-column: 14;
    grid-row: 7;
}

#Ge{
    grid-column: 15;
    grid-row: 7;
}

#As{
    grid-column: 16;
    grid-row: 7;
}

#Se{
    grid-column: 17;
    grid-row: 7;
}

#Br{
    grid-column: 18;
    grid-row: 7;
}

#Kr{
    grid-column: 19;
    grid-row: 7;
}



/*LINHA 5*/
#Rb{
    grid-column: 2;
    grid-row: 8;
}

#Sr{
    grid-column: 3;
    grid-row: 8;
}

#Y{
    grid-column: 4;
    grid-row: 8;
}

#Zr{
    grid-column: 5;
    grid-row: 8;
}

#Nb{
    grid-column: 6;
    grid-row: 8;
}

#Mo{
    grid-column: 7;
    grid-row: 8;
}

#Tc{
    grid-column: 8;
    grid-row: 8;
}

#Ru{
    grid-column: 9;
    grid-row: 8;
}

#Rh{
    grid-column: 10;
    grid-row: 8;
}

#Pd{
    grid-column: 11;
    grid-row: 8;
}

#Ag{
    grid-column: 12;
    grid-row: 8;
}

#Cd{
    grid-column: 13;
    grid-row: 8;
}

#In{
    grid-column: 14;
    grid-row: 8;
}

#Sn{
    grid-column: 15;
    grid-row: 8;
}

#Sb{
    grid-column: 16;
    grid-row: 8;
}

#Te{
    grid-column: 17;
    grid-row: 8;
}

#I{
    grid-column: 18;
    grid-row: 8;
}

#Xe{
    grid-column: 19;
    grid-row: 8;
}



/*LINHA 6*/
#Cs{
    grid-column: 2;
    grid-row: 9;
}

#Ba{
    grid-column: 3;
    grid-row: 9;
}

#La{
    grid-column: 4;
    grid-row: 9;
}

#Hf{
    grid-column: 5;
    grid-row: 9;
}

#Ta{
    grid-column: 6;
    grid-row: 9;
}

#W{
    grid-column: 7;
    grid-row: 9;
}

#Re{
    grid-column: 8;
    grid-row: 9;
}

#Os{
    grid-column: 9;
    grid-row: 9;
}

#Ir{
    grid-column: 10;
    grid-row: 9;
}

#Pt{
    grid-column: 11;
    grid-row: 9;
}

#Au{
    grid-column: 12;
    grid-row: 9;
}

#Hg{
    grid-column: 13;
    grid-row: 9;
}

#Tl{
    grid-column: 14;
    grid-row: 9;
}

#Pb{
    grid-column: 15;
    grid-row: 9;
}

#Bi{
    grid-column: 16;
    grid-row: 9;
}

#Po{
    grid-column: 17;
    grid-row: 9;
}

#At{
    grid-column: 18;
    grid-row: 9;
}

#Rn{
    grid-column: 19;
    grid-row: 9;
}



/*LINHA 7*/
#Fr{
    grid-column: 2;
    grid-row: 10;
}

#Ra{
    grid-column: 3;
    grid-row: 10;
}

#Ac{
    grid-column: 4;
    grid-row: 10;
}

#Rf{
    grid-column: 5;
    grid-row: 10;
}

#Db{
    grid-column: 6;
    grid-row: 10;
}

#Sg{
    grid-column: 7;
    grid-row: 10;
}

#Bh{
    grid-column: 8;
    grid-row: 10;
}

#Hs{
    grid-column: 9;
    grid-row: 10;
}

#Mt{
    grid-column: 10;
    grid-row: 10;
}

#Ds{
    grid-column: 11;
    grid-row: 10;
}

#Rg{
    grid-column: 12;
    grid-row: 10;
}

#Cn{
    grid-column: 13;
    grid-row: 10;
}

#Nh{
    grid-column: 14;
    grid-row: 10;
}

#Fl{
    grid-column: 15;
    grid-row: 10;
}

#Mc{
    grid-column: 16;
    grid-row: 10;
}

#Lv{
    grid-column: 17;
    grid-row: 10;
}

#Ts{
    grid-column: 18;
    grid-row: 10;
}

#Og{
    grid-column: 19;
    grid-row: 10;
}



/* PLACEHOLDERS*/
#La_space{
    grid-column: 4;
    grid-row: 9;
    position: relative;
}

#Ac_space{
    grid-column: 4;
    grid-row: 10;
    position: relative;
}



/* LANTANÍDEOS */
#La{
    grid-column: 5;
    grid-row: 12;
}

#Ce{
    grid-column: 6;
    grid-row: 12;
}

#Pr{
    grid-column: 7;
    grid-row: 12;
}

#Nd{
    grid-column: 8;
    grid-row: 12;
}

#Pm{
    grid-column: 9;
    grid-row: 12;
}

#Sm{
    grid-column: 10;
    grid-row: 12;
}

#Eu{
    grid-column: 11;
    grid-row: 12;
}

#Gd{
    grid-column: 12;
    grid-row: 12;
}

#Tb{
    grid-column: 13;
    grid-row: 12;
}

#Dy{
    grid-column: 14;
    grid-row: 12;
}

#Ho{
    grid-column: 15;
    grid-row: 12;
}

#Er{
    grid-column: 16;
    grid-row: 12;
}

#Tm{
    grid-column: 17;
    grid-row: 12;
}

#Yb{
    grid-column: 18;
    grid-row: 12;
}

#Lu{
    grid-column: 19;
    grid-row: 12;
}


/* ACTINÍDEOS */
#Ac{
    grid-column: 5;
    grid-row: 13;
}

#Th{
    grid-column: 6;
    grid-row: 13;
}

#Pa{
    grid-column: 7;
    grid-row: 13;
}

#U{
    grid-column: 8;
    grid-row: 13;
}

#Np{
    grid-column: 9;
    grid-row: 13;
}

#Pu{
    grid-column: 10;
    grid-row: 13;
}

#Am{
    grid-column: 11;
    grid-row: 13;
}

#Cm{
    grid-column: 12;
    grid-row: 13;
}

#Bk{
    grid-column: 13;
    grid-row: 13;
}

#Cf{
    grid-column: 14;
    grid-row: 13;
}

#Es{
    grid-column: 15;
    grid-row: 13;
}

#Fm{
    grid-column: 16;
    grid-row: 13;
}

#Md{
    grid-column: 17;
    grid-row: 13;
}

#No{
    grid-column: 18;
    grid-row: 13;
}

#Lr{
    grid-column: 19;
    grid-row: 13;
}